In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df= pd.read_csv("Data-MMM-All.csv")
df.head()

,Sales,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5,Unnamed: 9,Unnamed: 10
0,20,5.69,0,0,4.07,4.11,5.28,4.69,3.29,NaN,NaN
1,26,5.97,0,0,4.07,3.78,5.25,3.95,3.49,NaN,NaN
2,41,6.19,0,0,4.06,3.42,5.54,3.33,3.69,NaN,NaN
3,34,5.78,0,0,4.07,3.51,4.50,3.97,2.17,NaN,NaN
4,32,6.19,0,0,4.07,3.40,5.50,2.76,3.69,NaN,NaN

In [3]:
df.columns

Index(['Sales', 'Price', 'Feature', 'Display', 'Price - Competitor 1',
       'Price - Competitor 2', 'Price - Competitor 3', 'Price - Competitor 4',
       'Price - Competitor 5', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [4]:
df=df.drop(["Unnamed: 9","Unnamed: 10"],axis=1)
df.head()

,Sales,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5
0,20,5.69,0,0,4.07,4.11,5.28,4.69,3.29
1,26,5.97,0,0,4.07,3.78,5.25,3.95,3.49
2,41,6.19,0,0,4.06,3.42,5.54,3.33,3.69
3,34,5.78,0,0,4.07,3.51,4.50,3.97,2.17
4,32,6.19,0,0,4.07,3.40,5.50,2.76,3.69

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import statsmodels.api as sm

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4191 entries, 0 to 4190
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sales                 4191 non-null   object
 1   Price                 4191 non-null   float64
 2   Feature               4191 non-null   int64
 3   Display               4191 non-null   int64
 4   Price - Competitor 1  4191 non-null   float64
 5   Price - Competitor 2  4191 non-null   float64
 6   Price - Competitor 3  4191 non-null   float64
 7   Price - Competitor 4  4191 non-null   float64
 8   Price - Competitor 5  4191 non-null   float64
dtypes: float64(6), int64(2), object(1)
memory usage: 294.8+ KB

In [7]:
df["Sales"].unique()

array(['20', '26', '41', '34', '32', '33', '565', '48', '524', '37',
       '109', '46', '146', '76', '279', '24', '38', '42', '30', '75',
       '44', '16', '45', '62', '71', '80', '22', '50', '65', '25', '102',
       '36', '210', '57', '100', '84', '14', '82', '23', '21', '56', '40',
       '19', '159', '89', '138', '305', '83', '31', '52', '147', '99',
       '194', '387', '53', '27', '61', '35', '15', '17', '137', '117',
       '143', '238', '231', '5', '67', '68', '69', '359', '199', '207',
       '55', '51', '176', '72', '28', '228', '95', '179', '380', '60',
       '66', '112', '183', '29', '11', '132', '211', '58', '125', '519',
       '12', '13', '39', '43', '242', '78', '372', '79', '64', '118',
       '166', '91', '283', '9', '49', '136', '177', '73', '223', '133',
       '96', '63', '107', '59', '47', '158', '54', '198', '126', '241',
       '545', '192', '441', '129', '70', '119', '121', '114', '426',
       '139', '86', '245', '259', '415', '110', '104', '6', '106', '202',
       '171', '85', '286', '87', '123', '482', '193', '167', '141', '296',
       '459', '115', '209', '18', '175', '348', '345', '144', '370', '8',
       '381', '783', '74', '98', '273', '127', '322', '128', '527',
       '1,145', '120', '77', '140', '131', '184', '196', '124', '155',
       '145', '92', '101', '164', '94', '479', '165', '561', '451', '315',
       '288', '105', '350', '81', '186', '714', '205', '160', '153', '97',
       '108', '237', '154', '293', '206', '264', '185', '224', '93',
       '191', '266', '232', '220', '219', '116', '168', '113', '197',
       '227', '265', '88', '163', '122', '7', '173', '103', '222', '150',
       '216', '274', '182', '10', '161', '383', '363', '277', '188',
       '204', '135', '261', '218', '180', '148', '172', '309', '813',
       '396', '486', '591', '306', '200', '1,053', '324', '111', '149',
       '290', '260', '189', '213', '2', '201', '319', '405', '217', '854',
       '472', '278', '254', '244', '560', '162', '269', '90', '157',
       '343', '301', '295', '230', '152', '251', '249', '287', '214',
       '355', '367', '151', '253', '310', '341', '170', '208', '291',
       '330', '356', '349', '130', '282', '225', '257', '338', '432',
       '344', '316', '235', '365', '514', '407', '174', '258', '134',
       '369', '285', '461', '550', '4', '203', '229', '169', '979', '252',
       '221', '156', '284', '195', '181', '869', '246', '735', '294',
       '669', '236', '3', '500', '271', '480', '276', '321', '239', '569',
       '226', '240', '768', '262', '392', '785', '401', '268', '859',
       '420', '574', '599', '272', '275', '377', '234', '678', '723',
       '621', '477', '644', '212', '289', '648', '215', '439', '470',
       '243', '250', '142', '178', '304', '342', '312', '267', '187',
       '270', '371', '280', '190', '347', '332', '337', '314', '335'],
      dtype=object)

In [8]:
df["Sales"]=df["Sales"].apply(lambda x: x.replace(",",""))

In [9]:
df["Sales"]

0        20
1        26
2        41
3        34
4        32
       ...
4186     65
4187     78
4188     12
4189     16
4190    265
Name: Sales, Length: 4191, dtype: object

In [10]:
df["Sales"]=df["Sales"].apply(lambda x: float(x))

In [11]:
X=df.iloc[:,1:]
y=df.iloc[:,0]

# Train Test Split in 80:20 ratio

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
X_train.head()

,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5
2459,5.89,0,0,3.39,3.51,5.42,4.31,2.62
2600,6.29,0,0,4.78,3.90,6.11,3.70,3.79
3082,5.79,0,0,4.88,4.20,5.99,4.79,3.39
862,5.89,0,0,4.32,3.66,5.68,4.78,3.29
3990,5.27,0,0,5.29,4.21,6.39,4.04,3.89

# Taking only price as independent Feature

In [14]:
X_1=X_train.iloc[:,0]
y_1=y_train

In [15]:
X_1

2459    5.89
2600    6.29
3082    5.79
862     5.89
3990    5.27
        ...
3444    6.29
466     5.02
3092    5.89
3772    5.50
860     6.19
Name: Price, Length: 3352, dtype: float64

In [16]:
y_1

2459     61.0
2600     34.0
3082      3.0
862      61.0
3990    150.0
        ...
3444     14.0
466     120.0
3092     15.0
3772     33.0
860      66.0
Name: Sales, Length: 3352, dtype: float64

In [17]:
X_train

,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5
2459,5.89,0,0,3.39,3.51,5.42,4.31,2.62
2600,6.29,0,0,4.78,3.90,6.11,3.70,3.79
3082,5.79,0,0,4.88,4.20,5.99,4.79,3.39
862,5.89,0,0,4.32,3.66,5.68,4.78,3.29
3990,5.27,0,0,5.29,4.21,6.39,4.04,3.89
...,...,...,...,...,...,...,...,...
3444,6.29,0,0,4.99,3.62,5.89,3.73,3.79
466,5.02,1,0,3.93,4.00,6.33,4.51,2.45
3092,5.89,0,0,4.89,3.55,5.99,4.89,3.49
3772,5.50,0,0,2.99,3.69,5.00,3.50,2.00
860,6.19,0,0,3.81,3.34,5.87,4.69,3.69

In [18]:
X_test

,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5
4085,6.49,0,0,5.40,4.73,5.50,5.80,3.95
1732,5.59,0,0,3.55,3.28,4.68,4.17,2.10
2242,5.69,0,0,4.70,3.73,5.98,4.99,3.29
96,5.58,0,0,4.10,3.80,6.39,4.66,2.50
1657,6.29,0,0,3.57,3.55,5.00,3.44,3.15
...,...,...,...,...,...,...,...,...
1064,6.28,0,0,3.75,4.78,6.47,5.66,3.00
3599,6.34,0,0,5.09,4.58,6.39,5.79,2.90
1044,4.48,0,1,3.75,4.02,5.49,4.39,2.89
978,5.03,1,1,3.77,3.97,5.01,4.95,3.49
332,6.20,0,0,3.96,3.99,6.39,5.49,3.22

In [19]:
#printig regression results
def regression_results(x,y):
    x=sm.add_constant(x)
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [20]:
regression_results(X_1,y_1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.277
Model:                            OLS   Adj. R-squared:                  0.277
Method:                 Least Squares   F-statistic:                     1284.
Date:                Fri, 03 Jun 2022   Prob (F-statistic):          2.67e-238
Time:                        23:22:24   Log-Likelihood:                -19160.
No. Observations:                3352   AIC:                         3.832e+04
Df Residuals:                    3350   BIC:                         3.834e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        504.4967     11.965     42.163      0.000     481.037     527.957
Price        -74.7783      2.087    -35.830      0.000     -78.870     -70.686
==============================================================================
Omnibus:                     2651.725   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            97221.140
Skew:                           3.463   Prob(JB):                         0.00
Kurtosis:                      28.458   Cond. No.                         55.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [22]:
lr_1 = LinearRegression()
lr_1.fit(np.array(X_1).reshape(-1,1),y_1)

LinearRegression()

In [23]:
np.array(X_1).reshape(-1,1)

array([[5.89],
       [6.29],
       [5.79],
       ...,
       [5.89],
       [5.5 ],
       [6.19]])

In [24]:
lr_1.score(np.array(X_test.iloc[:,0]).reshape(-1,1),y_test)

0.3779062183339822

# Adjusted R2 with only price

In [25]:
#display adjusted R-squared
1 - (1-lr_1.score(np.array(X_test.iloc[:,0]).reshape(-1,1), y_test))*(len(y_test)-1)/(len(y_test)-np.array(X_test.iloc[:,0]).reshape(-1,1).shape[1]-1)

0.3771629760619798

In [26]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [27]:
y_pred = lr_1.predict(np.array(X_test.iloc[:,0]).reshape(-1,1))
#y_pred

# MAE , RMSE with only price

In [28]:
mae=mean_absolute_error(y_test,y_pred)
mae

41.246110233817234

In [29]:
rmse=mean_squared_error(y_test, y_pred, squared=False) #squared=False --> RMSE
rmse

73.49279350165526

# Taking only price,feature and display as independent Features

In [30]:
X_3=X_train.iloc[:,0:3]
y_3=y_train

In [31]:
regression_results(X_3,y_3)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.527
Model:                            OLS   Adj. R-squared:                  0.526
Method:                 Least Squares   F-statistic:                     1242.
Date:                Fri, 03 Jun 2022   Prob (F-statistic):               0.00
Time:                        23:22:24   Log-Likelihood:                -18450.
No. Observations:                3352   AIC:                         3.691e+04
Df Residuals:                    3348   BIC:                         3.693e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        284.5534     11.127     25.572      0.000     262.736     306.371
Price        -40.5798      1.892    -21.453      0.000     -44.288     -36.871
Feature       59.4649      2.920     20.363      0.000      53.739      65.191
Display      101.0919      3.339     30.273      0.000      94.545     107.639
==============================================================================
Omnibus:                     2846.788   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           153757.289
Skew:                           3.722   Prob(JB):                         0.00
Kurtosis:                      35.334   Cond. No.                         64.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [32]:
lr_3 = LinearRegression()
lr_3.fit(X_3,y_3)

LinearRegression()

In [33]:
lr_3.score(X_test.iloc[:,0:3],y_test)

0.5751354406129097

# Adjusted R2 with only price, feature and display

In [34]:
1 - (1-lr_3.score(X_test.iloc[:,0:3], y_test))*(len(y_test)-1)/(len(y_test)-X_test.iloc[:,0:3].shape[1]-1)

0.5736089811181058

In [35]:
y_pred_2 = lr_3.predict(X_test.iloc[:,0:3])
#y_pred_2

# MAE, RMSE

In [36]:
mae=mean_absolute_error(y_test,y_pred_2)
mae

33.874687693946875

In [37]:
rmse=mean_squared_error(y_test, y_pred_2, squared=False) #squared=False --> RMSE
rmse

60.735425447384465

# Taking all independent features

In [38]:
X_all=X_train.iloc[:,0:8]
y_all=y_train

In [39]:
regression_results(X_all,y_all)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.534
Model:                            OLS   Adj. R-squared:                  0.533
Method:                 Least Squares   F-statistic:                     479.3
Date:                Fri, 03 Jun 2022   Prob (F-statistic):               0.00
Time:                        23:22:25   Log-Likelihood:                -18423.
No. Observations:                3352   AIC:                         3.686e+04
Df Residuals:                    3343   BIC:                         3.692e+04
Df Model:                           8
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  247.6388     12.526     19.771      0.000     223.080     272.197
Price                  -45.8797      2.246    -20.425      0.000     -50.284     -41.476
Feature                 56.6910      3.060     18.525      0.000      50.691      62.691
Display                 95.8840      3.410     28.115      0.000      89.197     102.571
Price - Competitor 1     7.4203      1.483      5.003      0.000       4.512      10.328
Price - Competitor 2     2.9593      2.408      1.229      0.219      -1.762       7.680
Price - Competitor 3     3.1718      1.759      1.803      0.071      -0.277       6.621
Price - Competitor 4     4.4629      1.631      2.736      0.006       1.265       7.661
Price - Competitor 5    -3.7230      1.728     -2.154      0.031      -7.112      -0.334
==============================================================================
Omnibus:                     2821.086   Durbin-Watson:                   2.012
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           149272.945
Skew:                           3.674   Prob(JB):                         0.00
Kurtosis:                      34.856   Cond. No.                         139.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [40]:
lr_all = LinearRegression()
lr_all.fit(X_all,y_all)

LinearRegression()

In [41]:
lr_all.score(X_test,y_test)

0.5841831046230955

# Adj R2

In [42]:
1 - (1-lr_all.score(X_test, y_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)

0.5801752309327157

In [43]:
y_pred_3 = lr_all.predict(X_test)
#y_pred_3

# MAE, RMSE

In [44]:
mae=mean_absolute_error(y_test,y_pred_3)
mae

33.81268898286594

In [45]:
rmse=mean_squared_error(y_test, y_pred_3, squared=False) #squared=False --> RMSE
rmse

60.08525257287543

# Removing Price - Competitor 2 and Price - Competitor 3 having p value greater than 0.05

In [46]:
X_selective=X_train.drop(["Price - Competitor 2","Price - Competitor 3"],axis=1)
y_selective=y_train

In [47]:
regression_results(X_selective,y_selective)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.533
Model:                            OLS   Adj. R-squared:                  0.533
Method:                 Least Squares   F-statistic:                     637.2
Date:                Fri, 03 Jun 2022   Prob (F-statistic):               0.00
Time:                        23:22:25   Log-Likelihood:                -18427.
No. Observations:                3352   AIC:                         3.687e+04
Df Residuals:                    3345   BIC:                         3.691e+04
Df Model:                           6
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  255.9054     12.105     21.140      0.000     232.171     279.640
Price                  -43.7836      2.090    -20.949      0.000     -47.881     -39.686
Feature                 58.0480      3.012     19.275      0.000      52.143      63.953
Display                 97.0066      3.380     28.704      0.000      90.380     103.633
Price - Competitor 1     7.9298      1.454      5.454      0.000       5.079      10.780
Price - Competitor 4     5.5067      1.563      3.522      0.000       2.442       8.572
Price - Competitor 5    -3.1734      1.715     -1.850      0.064      -6.537       0.190
==============================================================================
Omnibus:                     2827.861   Durbin-Watson:                   2.012
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           151252.927
Skew:                           3.685   Prob(JB):                         0.00
Kurtosis:                      35.073   Cond. No.                         108.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [48]:
lr_selective = LinearRegression()
lr_selective.fit(X_selective,y_selective)

LinearRegression()

In [49]:
X__test_selective=X_test.drop(["Price - Competitor 2","Price - Competitor 3"],axis=1)

In [50]:
lr_selective.score(X__test_selective,y_test)

0.5831673864856822

# Adj R2

In [51]:
1 - (1-lr_selective.score(X__test_selective, y_test))*(len(y_test)-1)/(len(y_test)-X__test_selective.shape[1]-1)

0.5801613820613001

In [52]:
y_pred_4 = lr_selective.predict(X__test_selective)
#y_pred_4

# MAE,RMSE

In [53]:
mae=mean_absolute_error(y_test,y_pred_4)
mae

33.894478671833845

In [54]:
rmse=mean_squared_error(y_test, y_pred_4, squared=False) #squared=False --> RMSE
rmse

60.158593095562

# creating new feature price*display

In [55]:
df.head()

,Sales,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5
0,20.0,5.69,0,0,4.07,4.11,5.28,4.69,3.29
1,26.0,5.97,0,0,4.07,3.78,5.25,3.95,3.49
2,41.0,6.19,0,0,4.06,3.42,5.54,3.33,3.69
3,34.0,5.78,0,0,4.07,3.51,4.50,3.97,2.17
4,32.0,6.19,0,0,4.07,3.40,5.50,2.76,3.69

In [56]:
X_train["price*display"]=X_train["Price"]*X_train["Display"]
X_train

,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5,price*display
2459,5.89,0,0,3.39,3.51,5.42,4.31,2.62,0.0
2600,6.29,0,0,4.78,3.90,6.11,3.70,3.79,0.0
3082,5.79,0,0,4.88,4.20,5.99,4.79,3.39,0.0
862,5.89,0,0,4.32,3.66,5.68,4.78,3.29,0.0
3990,5.27,0,0,5.29,4.21,6.39,4.04,3.89,0.0
...,...,...,...,...,...,...,...,...,...
3444,6.29,0,0,4.99,3.62,5.89,3.73,3.79,0.0
466,5.02,1,0,3.93,4.00,6.33,4.51,2.45,0.0
3092,5.89,0,0,4.89,3.55,5.99,4.89,3.49,0.0
3772,5.50,0,0,2.99,3.69,5.00,3.50,2.00,0.0
860,6.19,0,0,3.81,3.34,5.87,4.69,3.69,0.0

In [57]:
X_test["price*display"]=X_test["Price"]*X_test["Display"]
X_test

,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5,price*display
4085,6.49,0,0,5.40,4.73,5.50,5.80,3.95,0.00
1732,5.59,0,0,3.55,3.28,4.68,4.17,2.10,0.00
2242,5.69,0,0,4.70,3.73,5.98,4.99,3.29,0.00
96,5.58,0,0,4.10,3.80,6.39,4.66,2.50,0.00
1657,6.29,0,0,3.57,3.55,5.00,3.44,3.15,0.00
...,...,...,...,...,...,...,...,...,...
1064,6.28,0,0,3.75,4.78,6.47,5.66,3.00,0.00
3599,6.34,0,0,5.09,4.58,6.39,5.79,2.90,0.00
1044,4.48,0,1,3.75,4.02,5.49,4.39,2.89,4.48
978,5.03,1,1,3.77,3.97,5.01,4.95,3.49,5.03
332,6.20,0,0,3.96,3.99,6.39,5.49,3.22,0.00

In [58]:
regression_results(X_train,y_train)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.601
Model:                            OLS   Adj. R-squared:                  0.600
Method:                 Least Squares   F-statistic:                     559.0
Date:                Fri, 03 Jun 2022   Prob (F-statistic):               0.00
Time:                        23:22:25   Log-Likelihood:                -18165.
No. Observations:                3352   AIC:                         3.635e+04
Df Residuals:                    3342   BIC:                         3.641e+04
Df Model:                           9
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  169.9087     12.055     14.094      0.000     146.272     193.546
Price                  -30.1594      2.184    -13.811      0.000     -34.441     -25.878
Feature                 52.5303      2.839     18.503      0.000      46.964      58.097
Display                697.8213     25.687     27.166      0.000     647.457     748.186
Price - Competitor 1     7.6742      1.373      5.588      0.000       4.982      10.367
Price - Competitor 2     4.0933      2.230      1.836      0.067      -0.279       8.466
Price - Competitor 3    -0.0885      1.635     -0.054      0.957      -3.293       3.117
Price - Competitor 4     3.8372      1.510      2.540      0.011       0.876       6.799
Price - Competitor 5    -2.5655      1.601     -1.602      0.109      -5.705       0.574
price*display         -113.9218      4.825    -23.612      0.000    -123.382    -104.462
==============================================================================
Omnibus:                     2174.449   Durbin-Watson:                   2.036
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            70694.589
Skew:                           2.585   Prob(JB):                         0.00
Kurtosis:                      24.896   Cond. No.                         316.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [59]:
lr_add = LinearRegression()
lr_add.fit(X_train,y_train)

LinearRegression()

In [60]:
lr_add.score(X_test,y_test)

0.6792310395783845

# Adj R2

In [61]:
 1 - (1-lr_add.score(X_test, y_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)

0.6757486262565575

In [62]:
y_pred_5 = lr_add.predict(X_test)
#y_pred_5

# MAE, RMSE

In [63]:
mae=mean_absolute_error(y_test,y_pred_5)
mae

31.47021321955485

In [64]:
rmse=mean_squared_error(y_test, y_pred_5, squared=False) #squared=False --> RMSE
rmse

52.77314707393635

# taking first 3 and price*display

In [65]:
X_train

,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5,price*display
2459,5.89,0,0,3.39,3.51,5.42,4.31,2.62,0.0
2600,6.29,0,0,4.78,3.90,6.11,3.70,3.79,0.0
3082,5.79,0,0,4.88,4.20,5.99,4.79,3.39,0.0
862,5.89,0,0,4.32,3.66,5.68,4.78,3.29,0.0
3990,5.27,0,0,5.29,4.21,6.39,4.04,3.89,0.0
...,...,...,...,...,...,...,...,...,...
3444,6.29,0,0,4.99,3.62,5.89,3.73,3.79,0.0
466,5.02,1,0,3.93,4.00,6.33,4.51,2.45,0.0
3092,5.89,0,0,4.89,3.55,5.99,4.89,3.49,0.0
3772,5.50,0,0,2.99,3.69,5.00,3.50,2.00,0.0
860,6.19,0,0,3.81,3.34,5.87,4.69,3.69,0.0

In [66]:
X_3plusinteraction = X_train.loc[:,("Price","Feature","Display","price*display")]
X_3plusinteraction

      Price  Feature  Display  price*display
2459   5.89        0        0            0.0
2600   6.29        0        0            0.0
3082   5.79        0        0            0.0
862    5.89        0        0            0.0
3990   5.27        0        0            0.0
...     ...      ...      ...            ...
3444   6.29        0        0            0.0
466    5.02        1        0            0.0
3092   5.89        0        0            0.0
3772   5.50        0        0            0.0
860    6.19        0        0            0.0

[3352 rows x 4 columns]

In [67]:
X_test_3plusinteraction=X_test.loc[:,("Price","Feature","Display","price*display")]
X_test_3plusinteraction

      Price  Feature  Display  price*display
4085   6.49        0        0           0.00
1732   5.59        0        0           0.00
2242   5.69        0        0           0.00
96     5.58        0        0           0.00
1657   6.29        0        0           0.00
...     ...      ...      ...            ...
1064   6.28        0        0           0.00
3599   6.34        0        0           0.00
1044   4.48        0        1           4.48
978    5.03        1        1           5.03
332    6.20        0        0           0.00

[839 rows x 4 columns]

In [68]:
regression_results(X_3plusinteraction,y_train)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.595
Model:                            OLS   Adj. R-squared:                  0.594
Method:                 Least Squares   F-statistic:                     1229.
Date:                Fri, 03 Jun 2022   Prob (F-statistic):               0.00
Time:                        23:22:25   Log-Likelihood:                -18190.
No. Observations:                3352   AIC:                         3.639e+04
Df Residuals:                    3347   BIC:                         3.642e+04
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           200.6913     10.887     18.434      0.000     179.345     222.038
Price           -25.9475      1.856    -13.981      0.000     -29.586     -22.309
Feature          54.5956      2.710     20.144      0.000      49.282      59.909
Display         706.5659     25.712     27.480      0.000     656.153     756.979
price*display  -114.7206      4.836    -23.720      0.000    -124.203    -105.238
==============================================================================
Omnibus:                     2192.070   Durbin-Watson:                   2.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            71807.300
Skew:                           2.614   Prob(JB):                         0.00
Kurtosis:                      25.063   Cond. No.                         163.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [69]:
lr_3plusinteraction= LinearRegression()
lr_3plusinteraction.fit(X_3plusinteraction,y_train)

LinearRegression()

In [70]:
lr_3plusinteraction.score(X_test_3plusinteraction,y_test)

0.6727983382645468

# Adj R2

In [71]:
1 - (1-lr_3plusinteraction.score(X_test_3plusinteraction, y_test))*(len(y_test)-1)/(len(y_test)-X_test_3plusinteraction.shape[1]-1)

0.6712290257382377

In [72]:
y_pred_6 = lr_3plusinteraction.predict(X_test_3plusinteraction)
#y_pred_6

# MAE,RMSE

In [73]:
mae=mean_absolute_error(y_test,y_pred_6)
mae

31.776474606630966

In [74]:
rmse=mean_squared_error(y_test, y_pred_6, squared=False) #squared=False --> RMSE
rmse

53.299676813757415

# Taking 3 fetures, one most dominat competitor, and display*price

In [75]:
X_train

,Price,Feature,Display,Price - Competitor 1,Price - Competitor 2,Price - Competitor 3,Price - Competitor 4,Price - Competitor 5,price*display
2459,5.89,0,0,3.39,3.51,5.42,4.31,2.62,0.0
2600,6.29,0,0,4.78,3.90,6.11,3.70,3.79,0.0
3082,5.79,0,0,4.88,4.20,5.99,4.79,3.39,0.0
862,5.89,0,0,4.32,3.66,5.68,4.78,3.29,0.0
3990,5.27,0,0,5.29,4.21,6.39,4.04,3.89,0.0
...,...,...,...,...,...,...,...,...,...
3444,6.29,0,0,4.99,3.62,5.89,3.73,3.79,0.0
466,5.02,1,0,3.93,4.00,6.33,4.51,2.45,0.0
3092,5.89,0,0,4.89,3.55,5.99,4.89,3.49,0.0
3772,5.50,0,0,2.99,3.69,5.00,3.50,2.00,0.0
860,6.19,0,0,3.81,3.34,5.87,4.69,3.69,0.0

In [76]:
X_3plusinteractionpluscomp1 = X_train.loc[:,("Price","Feature","Display","price*display","Price - Competitor 1")]
X_3plusinteractionpluscomp1

      Price  Feature  Display  price*display  Price - Competitor 1
2459   5.89        0        0            0.0                  3.39
2600   6.29        0        0            0.0                  4.78
3082   5.79        0        0            0.0                  4.88
862    5.89        0        0            0.0                  4.32
3990   5.27        0        0            0.0                  5.29
...     ...      ...      ...            ...                   ...
3444   6.29        0        0            0.0                  4.99
466    5.02        1        0            0.0                  3.93
3092   5.89        0        0            0.0                  4.89
3772   5.50        0        0            0.0                  2.99
860    6.19        0        0            0.0                  3.81

[3352 rows x 5 columns]

In [77]:
X_test_3plusinteractionpluscomp1=X_test.loc[:,("Price","Feature","Display","price*display","Price - Competitor 1")]
X_test_3plusinteractionpluscomp1

      Price  Feature  Display  price*display  Price - Competitor 1
4085   6.49        0        0           0.00                  5.40
1732   5.59        0        0           0.00                  3.55
2242   5.69        0        0           0.00                  4.70
96     5.58        0        0           0.00                  4.10
1657   6.29        0        0           0.00                  3.57
...     ...      ...      ...            ...                   ...
1064   6.28        0        0           0.00                  3.75
3599   6.34        0        0           0.00                  5.09
1044   4.48        0        1           4.48                  3.75
978    5.03        1        1           5.03                  3.77
332    6.20        0        0           0.00                  3.96

[839 rows x 5 columns]

In [78]:
regression_results(X_3plusinteractionpluscomp1,y_train)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.599
Model:                            OLS   Adj. R-squared:                  0.598
Method:                 Least Squares   F-statistic:                     999.9
Date:                Fri, 03 Jun 2022   Prob (F-statistic):               0.00
Time:                        23:22:26   Log-Likelihood:                -18172.
No. Observations:                3352   AIC:                         3.636e+04
Df Residuals:                    3346   BIC:                         3.639e+04
Df Model:                           5
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  177.9315     11.499     15.473      0.000     155.385     200.478
Price                  -27.5489      1.866    -14.760      0.000     -31.208     -23.889
Feature                 54.9265      2.697     20.364      0.000      49.638      60.215
Display                702.4018     25.593     27.445      0.000     652.222     752.582
price*display         -114.4233      4.812    -23.776      0.000    -123.859    -104.988
Price - Competitor 1     7.9144      1.342      5.898      0.000       5.284      10.545
==============================================================================
Omnibus:                     2168.341   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            69630.779
Skew:                           2.579   Prob(JB):                         0.00
Kurtosis:                      24.724   Cond. No.                         199.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [79]:
lr_3plusinteractionpluscomp1= LinearRegression()
lr_3plusinteractionpluscomp1.fit(X_3plusinteractionpluscomp1,y_train)

LinearRegression()

In [80]:
lr_3plusinteractionpluscomp1.score(X_test_3plusinteractionpluscomp1,y_test)

0.6768901408776935

# Adj R2

In [81]:
1 - (1-lr_3plusinteractionpluscomp1.score(X_test_3plusinteractionpluscomp1, y_test))*(len(y_test)-1)/(len(y_test)-X_test_3plusinteractionpluscomp1.shape[1]-1)

0.6749507059489882

# MAE,RMSE

In [82]:
y_pred_7 = lr_3plusinteractionpluscomp1.predict(X_test_3plusinteractionpluscomp1)
#y_pred_7

In [83]:
mae=mean_absolute_error(y_test,y_pred_7)
mae

31.54341496127361

In [84]:
rmse=mean_squared_error(y_test, y_pred_7, squared=False) #squared=False --> RMSE
rmse

52.9653602239597

# final table

In [93]:
pd.DataFrame({
        "feature":["price","First 3","All","w/o com2 and com3","all + price*disp","first3 + price*disp","first3+ main com+ price*disp"],
        "adj r2":[0.3771,0.5736,0.5801,0.5801,0.6757,0.6712,0.6749],
        "mae":[41.24,33.87,33.81,33.89,31.47,31.77,31.54],
        "rmse":[73.49,60.73,60.08,60.15,52.77,53.299,52.96]
})

                        feature  adj r2    mae    rmse
0                         price  0.3771  41.24  73.490
1                       First 3  0.5736  33.87  60.730
2                           All  0.5801  33.81  60.080
3             w/o com2 and com3  0.5801  33.89  60.150
4              all + price*disp  0.6757  31.47  52.770
5           first3 + price*disp  0.6712  31.77  53.299
6  first3+ main com+ price*disp  0.6749  31.54  52.960

# so, I would take the decision no 6